<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheets/reg.css">
</head>
<body>
   <div id="center">
    <a href="/login"><i class="ri-arrow-left-line"></i>Already have an account ?</a>
    <form action="/register" method="POST">
    <div class="formlm">
    <div class="formlm">
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="username">
    </div>
    <div class="formlm">
        <label for="Email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email">
    </div>
    <div class="formlm">
        <label for="password">password</label>
        <input type="password" id="password" name="password" placeholder="password">
    </div>
    <div class="formlm">
        <input type="submit" value="Register My Account">
    </div>
    </form>
   </div>
</body>
</html>